.userInput {
    margin: auto;
    width: 50%;
    text-align: center;
}

::placeholder {
    color: rgba(255, 255, 255, 0.253);
}

input[type=text] {
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: larger;
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffdcdc52;
    border-radius: 16px;
    transition: width 0.3s;
    background: rgba(255, 255, 255, 0.152);
    color: #ffdcdcaa;
    animation: glowGradient 5s infinite;

}

input[type=text]:hover {
    color: #ffdcdcaa;
    width: 70%;
    backdrop-filter: blur(7.5px);
}


input[type=text]:focus {
    color: #ffdcdcaa;
    outline: none;
    width: 100%;
}


#cityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


#cityWeatherDetails {
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: larger;
    color: rgba(255, 255, 255, 0.705);
}


#mainTemp {
    margin: auto;
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 100;
}

#weatherMiscBox {
    background: rgba(255, 255, 255, 0.25);
    width: 40%; 
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.40);
    margin: auto;
    text-align: center;
    margin-top: 25px;   
    animation: glowGradientBigBox 15s infinite;

}

#detailsText {
    font-family: Noto Sans, Helvetica, sans-serif;;
    color: rgba(255, 255, 255, 0.75);
    font-size: x-large;

}


#minTemp, #maxTemp {
    display: inline-block;
    width: 30%;
    font-family: Noto Sans, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: larger;
}

#sunrise, #sunset {
    display: inline-block;
    width: 30%;
    font-family: Noto Sans, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: larger;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 5px;
}

#changeUnit, #changeSpeedUnit, #changeTimeFormat {
    height: 30px;
    margin-right: 10px;
}





body {
	background: linear-gradient(-45deg, #d4623f, #e73c7e, #23a6d5, #149b7b, #cc96ff, #3c2255);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes glowGradient {
    50% {box-shadow: 10px 5px 30px rgba(151, 255, 236, 0.297);}
}

@keyframes glowGradientBigBox {
    25% {
        box-shadow: 10px 5px 30px rgba(116, 213, 255, 0.1);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
    list-style-type: none;
}
  