.userInput {
    margin: auto;
    width: 50%;
    text-align: center;
}

::placeholder {
    color: rgba(255, 255, 255, 0.253);
}

input[type=text] {
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: larger;
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffdcdc52;
    border-radius: 16px;
    transition: width 0.3s;
    transition-timing-function: ease-out;
    background: rgba(255, 255, 255, 0.152);
    color: #ffdcdcaa;
    animation: glowGradient 5s infinite;
    transition: all 0.3s ease-out;

}

input[type=text]:hover {
    color: #ffdcdcaa;
    width: 70%;
    backdrop-filter: blur(7.5px);
}

input[type=text]:focus {
    color: #ffc0c0aa;
    outline: none;
    width: 100%;
}


#cityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


#cityWeatherDetails {
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.705);
}


#mainTemp {
    margin: auto;
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 100;
}

#currentTime {
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

#weatherMiscBox {
    background: rgba(255, 255, 255, 0.25);
    width: 40%; 
    padding: 10px;
    border-radius: 16px;
    backdrop-filter: blur(7.5px);
    border: 2px solid rgba(255, 255, 255, 0.40);
    margin: auto;
    text-align: center;
    margin-top: 25px;   
    transition: all 0.15s ease-out;
}

#weatherMiscBox:hover {
    background: rgba(198, 255, 217, 0.25);
    box-shadow: 5px 5px 30px rgba(193, 161, 255, 0.3);
}

#detailsText {
    font-family: Noto Sans, Helvetica, sans-serif;;
    color: rgba(255, 255, 255, 0.75);
    font-size: x-large;

}

hr {
    border: 1px solid #ffdcdc16;
    max-width: 100%;
}

#minTemp, #maxTemp, #sunrise, #sunset  {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-family: Noto Sans, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: larger;
}

#weatherWindSpeed, #pressure {
    display: inline-block;
    width: 40%;
    font-family: Noto Sans, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: larger;
}

#changeUnit, #changeSpeedUnit, #changeTimeFormat {
    height: 30px;
    width: 120px;
    margin-right: 10px;
    border: 1px solid #ffdcdc52;
    background: rgba(255, 255, 255, 0.359);
    border-radius: 10px;
    transition: all 0.15s ease-out;
    font-family: Noto Sans, Helvetica, sans-serif;
    color: white;
}

#changeUnit:hover, #changeSpeedUnit:hover, #changeTimeFormat:hover {
    background: rgba(255, 255, 255, 0.359);
    width: 150px;
}


#changeUnit:active, #changeSpeedUnit:active, #changeTimeFormat:active {
    background: rgba(255, 255, 255, 0.500);
    width: 160px;
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
}


body {
	background: linear-gradient(-45deg, #d4623f, #e73c7e, #23a6d5, #149b7b, #cc96ff, #3c2255);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
    overflow: hidden;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 5px;
}

@keyframes glowGradient {
    50% {box-shadow: 10px 5px 30px rgba(151, 255, 236, 0.297);}
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


ul {
    list-style-type: none;
}