<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel='stylesheet' href="/static/style.css">
</head>
<body>
    <div class="userInput">
        <input type="text" id="citySearch" placeholder="Search for a City">
        <button hidden type='button' id="searchButton">search</button>
        <div id="cityContainer">
            <h2 id="cityName"></h2>
            <img hidden id="weatherIcon" alt="Weather Icon"
            width="75"
            height="75"></img>
        </div>
    </div>

    <div id="mainWeatherDetails">
        <h2 id="mainTemp"></h2>

    </div>


    <div id="weatherMiscBox">
        <h3 id="weatherDesc"></h3> <!-- Feels Like -->
        <h3 id="weatherWindSpeed"></h3> <!-- Wind Speed -->
        <ul hidden id="weathermisc">
            <li id="minTemp"></li>
            <li id="maxTemp"></li>
            <li id="sunrise"></li>
            <li id="sunset"></li>
            <li id="pressure"></li>
        </ul>


    </div>

    <footer id="footer">
        <button type='button' id="changeUnit">Current Unit: °C</button>
        <button type='button' id="changeSpeedUnit">Speed: mph</button>
        <button type='button' id="changeTimeFormat">Format: 24 Hour</button>
        <span id="timestamp"></span>
    </footer>
</body>
<script src="/static/script.js"></script>
</html>